// typhography

@font-face {
  font-family: 'Metropolis-SemiBold';
  src: url('../fonts/Metropolis-SemiBold.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/Metropolis-SemiBold.otf')  format('opentype'),
       url('../fonts/Metropolis-SemiBold.woff') format('woff'), 
       url('../fonts/Metropolis-SemiBold.ttf')  format('truetype'), 
       url('../fonts/Metropolis-SemiBold.svg#Metropolis-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis-Regular';
  src: url('../fonts/Metropolis-Regular.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/Metropolis-Regular.otf')  format('opentype'),
       url('../fonts/Metropolis-Regular.woff') format('woff'), 
       url('../fonts/Metropolis-Regular.ttf')  format('truetype'), 
       url('../fonts/Metropolis-Regular.svg#Metropolis-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis-Bold';
  src: url('../fonts/Metropolis-Bold.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/Metropolis-Bold.otf')  format('opentype'),
       url('../fonts/Metropolis-Bold.woff') format('woff'), 
       url('../fonts/Metropolis-Bold.ttf')  format('truetype'), 
       url('../fonts/Metropolis-Bold.svg#Metropolis-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'Metropolis-Regular', sans-serif; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

