// sidebar

.sidebar{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 290px;
	z-index: 99;
	background-color: $main;
	@include transition(all, 0.3s, ease);
	h1{
		font-family: $b;
		font-size: 24px;
		width: 290px;
		color: $wt;
		padding: 24px 40px;
		margin-bottom: 0px;
		@include transition(all, 0.3s, ease);
		&:before{
			content: "RC";
			position: absolute;
			left: 13px;
			top: 24px;
			opacity: 0;
			@include transition(all, 0.3s, ease);
		}
	}
	ul{
		padding: 0;
		margin: 0;
		width: 290px;
		max-height: calc(100vh - 76px);
		overflow-y: auto;
		a{
			display: block;
			padding: 10px 40px;
			font-family: $sb;
			font-size: 16px;
			color: $wt;
			@include transition(all, 0.3s, ease);
			.icon{
				width: 20px;
				opacity: 0.5;
				display: inline-block;
				vertical-align: top;
				text-align: center;
				margin-right: 15px;
				@include transition(all, 0.3s, ease);
			}
			&:hover, &:focus, &.active{
				text-decoration: none;
				background-color: $third;
				.icon{
					opacity: 1;
				}
			}
		}
	}
	&.small{
		width: 60px;
		overflow: hidden;
		h1{
			padding-left: 20px;
			color: transparent;
			&:before{
				opacity: 1;
				color: $wt;
			}
		}
		ul{
			a{
				padding-left: 20px;
			}
		}
	}
}