// Variables

$main: #0c2589;
$second: #e20080;
$third: #0c227c;

// Basic Color
$wt: #FFFFFF;
$bl: #3d3837;

$gray: #BCBCBC;
$gray2: #807d7b;
$gray3: #eeeeee;
$gray4: #7c7c7c;
$gray5: #929292;
$lgray: #F1F1F1;
$lgray2: #F8F8F8;
$lgray3: #FAFAFA;

$ldblue: #00a2ea;

$orange: #FFAE00;
$green: #64BC36;
$blue: #22A6B3;
$red: #e5222a;
$brown: #B49D3A;
$yellow: #ffcc00;

// pallete
$border: #c3c3c3;
$border2: rgba(34, 34, 34, 0.3);

// font
$r: 'Metropolis-Regular', sans-serif;
$b: 'Metropolis-Bold', sans-serif;
$sb: 'Metropolis-SemiBold', sans-serif;