$bootstrap-sass-asset-helper: false !default;

//$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$icon-font-path: "../fonts/bootstrap/";

//** File name for all font files.
$icon-font-name: "glyphicons-halflings-regular" !default;
//** Element ID within SVG icon file.
$icon-font-svg-id: "glyphicons_halflingsregular" !default;
