<div class="label label-info">Wilayah Dapil : {{ nama }}</div>
<table class="table details-table" id="dapil_detail-{{ id }}">
	<thead>
	<tr>
		<th>ID</th>
		<th>Kode Wil</th>
		<th>Nama Wilayah</th>
		<th>Tingkat</th>
	</tr>
	</thead>
</table>