<div class="label label-info">Daftar Dapil : {{ nama_wilayah }}</div>
<table class="table details-table" id="wilayah_detail-{{ id }}">
	<thead>
	<tr>
		<th>ID</th>
		<th>Nama Dapil</th>
		<th>Tingkat Dapil</th>
		<th>Alokasi Kursi</th>
	</tr>
	</thead>
</table>